@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300;1,400&family=Martel:wght@200;300;400;600;700&display=swap');
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
body {
  margin-left: 10px;
  margin-right: 10px;
}
a {
  color: inherit;
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  /* color: inherit; */
}
.wrapper {
  max-width: 1200px;
    width: 100%;
}
header {
  margin-bottom: -5px;
  display: grid;
  grid-template-rows: repeat(2, 50%);
  transition-duration: 0.4s;
  justify-content: center;
  align-items: center;
}
header img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  max-width: 100%;
}
nav {
  padding: 15px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container-fluid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding: 0px;
}
.container-fluid img {
  vertical-align: middle;
  max-width: 100%;
  margin: 5px;
  position: relative;
  box-sizing: border-box;
  transition: 0.4s;
  display: flex;
  align-items: stretch;
}
.rightimg {
  animation-name: entranceright;
  animation-duration: 1.2s;
}
@keyframes entranceright {
  0% {
    right: -300px;
    opacity: 0%;
  }
  100% {
    right: 0px;
    opacity: 100%;
  }
}
.leftimg {
  animation-name: entranceleft;
  animation-duration: 1.2s;
}
@keyframes entranceleft {
  0% {
    left: -300px;
    opacity: 0%;
  }
  100% {
    left: 0px;
    opacity: 100%;
  }
}
.container-fluid img:hover {
  -ms-transform: scale(0.99); /* IE 9 */
  -webkit-transform: scale(0.99); /* Safari 3-8 */
  transform: scale(0.99);
  filter: brightness(55%);
}
.img1 {
  animation-name: entranceleft;
  animation-duration: 1.2s;
}
.img2 {
  animation-name: entranceright;
  animation-duration: 1.2s;
}

.img3 {
  animation-name: entranceleft;
  animation-duration: 1.2s;
}
.img4 {
  animation-name: entranceright;
  animation-duration: 1.2s;
}
footer {
  display: grid;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: flex-end;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: repeat(3, 3fr);
}
footer > p {
  grid-row: 2/3;
  grid-column: 1/-1;
  font-size: 13px;
  font-family: Montserrat;
  justify-self: center;
}
@media only screen and (max-width: 1000px) {
  main > .container-fluid > img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 1000px) {
  .topimg {
    max-height: 430px;
  }
}
@media only screen and (min-width: 1000px) {
  .bottomimg {
    max-height: 320px;
  }
}
@media only screen and (min-width: 1000px) {
  header img {
    max-width: 13%;
  }
}
.mybtn {
  grid-row: 1/3;
  grid-column: 2/3;
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  animation: bumping;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  opacity: 60%;
  color: black;
  appearance: none;
  align-self: center;
}
@keyframes bumping {
  0% {
    transform: translate(0px, 0px);
  }
  30% {
    transform: translate(0px, -20px);
  }
  80% {
    transform: translate(0px, 0px);
  }
}
.container {
  display: grid;
  cursor: pointer;
  gap: -5px;
  justify-content: center;
  grid-template-rows: repeat(3, 11.3px);
}
.sidenav {
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: hidden;
  transition: 0.4s;
  text-align: center;
  font-family: Montserrat;
}
.opened {
  height: 220px;
}
.headertop {
  margin-top: 220px;
}
ul {
  padding: 0;
  list-style-type: none;
}
.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  display: flex;
  justify-content: center;
}

.sidenav a:hover {
  color: rgb(211, 211, 211);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

nav {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
